page-welcome {
    .content {
      background-color: map-get($colors, background);
      color: map-get($colors, primary) !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .logo {
      box-sizing: border-box;
      display: block;
      height: 100px;
      margin-top: 20vh;
      text-align: center;
      font-size: 46px;
    }
  
    .opening-text {
      margin: 0 auto;
      max-width: 280px;
      text-align: center;
    }
  
    h1 {
      margin-top: 10%;
      font-size: 1.5em;
      overflow: hidden;
      text-align: center;
      color: map-get($colors, white);
    }
    
    h1:before,
    h1:after {
      background-color: map-get($colors, white);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    h1:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    h1:after {
      left: 0.5em;
      margin-right: -50%;
    }
  
    .button {
      border-radius: 5px ;    
      font-weight: bold;
      &.-yellow {
        background-color: map-get($colors, golds);
        color: #000;
      }
      &.-black {
        background-color: #000;
        color: #fff;
      }
    }
  }